body{
    margin: 0;
}
header{
    background-color: #FFB64D;
    position: sticky;
    width: 100%;
    height: 100px;
    top: 0;
    border: 1px solid #FF9600;
}
#headerText{
    font-family:"Julius Sans One";
    position: absolute;
    top: 34px;
    left: 130px;
    font-size: 32px;
}
#logo_bg{
    position: absolute;
    left: 30px;
}
#logo{
    position: absolute;
    top: 18px;
    left: 52px;
}
#left{
    left: 0;
    border-right: 1px solid #f9a825;
    border-bottom: 1px solid #f9a825;
}
#right{
    right: 0;
    border-left: 1px solid #f9a825;
    border-bottom: 1px solid #f9a825;
}
.sidebar{
    width: 18%;
    height: 100dvh;
    background-color: #fff;
    position: fixed;
    top: 102px;
    bottom: 0;
    box-sizing: border-box;
}
#user{
    border-bottom: 1px solid #FF9600;
    margin: 0;
    height: 100px;
}
#user img{
    display: inline-block;
    height: 66px;
    position: absolute;
    top: 18px;
    left: 18px;
}
#user p{
    display: inline;
    font-family: "Inter";
    font-size: 20px;
    position: absolute;
    top: 22px;
    left: 100px;
}

/*.container{
    display: inline-block;
    position: absolute;
    top: 21%;
}
.container img{
    display: inline-block;
    position: absolute;
    top: 9px;
    left: 40px;
    height: 40px;
}
.container p{
    font-family: "Inter";
    font-size: 20px;
    position: absolute;
    left: 100px;
    font-weight: 500;
}*/


.search{
    --padding: 14px;
    width: 77%;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 28px;
    border: 2px solid #FE6F20;
    position: absolute;
    top: 3%;
    left: 7%;
}
.search-input{
    font-size: 20px;
    font-family: "Inter";
    font-weight: 300;
    color: #FE6F20;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent; 
}
.search-input::placeholder{
    color:#FE6F20;
}


/*MY EDITS-LUI*/

.container {
    display: flex;
    align-items: center; /*align all elements inside*/
    justify-content: flex-start; /*starts at left*/
    width: 100%;
    padding: 8px 15px; /*for consistent spacing*/
    border-radius: 30px; 
    box-sizing: border-box; /* Ensure padding is included in width/height */
}
.container img {
    position: static; 
    height: 40px;
    margin-right: 10px;
}
.container p {
    position: static; 
    font-family: "Inter";
    font-size: 20px;
    font-weight: 500;
}

#sidebarMenu{
    display:flex;
    flex-direction: column; /*align elements vertically and evenly*/
    align-items: start;
    margin-top: 40px;  
    margin-left: 40px; 
}
.current{
    height: 55px;
    width: 89%;
    background-color: #FFB243;
    border-radius: 30px;
    padding: 8px 15px; /* Match padding with `.container` */
}

.sidebar #log-in{
    border-bottom: 1px solid #FF9600;
    margin: 0;
    height: 100px;
    display: flex;
    align-items: center; /*align all elements inside*/
    justify-content: flex-start; /*starts at left*/
    width: 100%;
    padding: 8px 15px; /*for consistent spacing*/
    box-sizing: border-box; /* Ensure padding is included in width/height */
}
/* #log-in img {
    position: static; 
    height: 40px;
    margin-right: 10px;
    margin-left: 38px;
} */
#log-in p {
    position: static; 
    font-family: "Inter";
    font-size: 20px;
    font-weight: 500;
    margin-left: 3px;
}
#post{
    position: absolute;
    top: 26%;
}
#post p{
    color: #FE6F20;
}
#post img{
    background-color: #FE6F20;
    border-radius: 20px;
}
#post_logged_out{
    position: absolute;
    top: 26%;
}
#post_logged_out p{
    color: #CDCCCA;
}
#post_logged_out img{
    background-color: #CDCCCA;
    border-radius: 20px;
}
#middle{
    position: absolute;
    top: 102px;
    left: 18%;
    right: 18%;
    bottom: 0;
    background-color: #fff;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
    border-left: 1px solid #f9a825;
}
.posts{
    border: 1px solid #FFE6C1;
    border-radius: 20px;
    padding: 30px 30px;
    margin: 30px;
    font-family: "Inter";
    max-height: 300px;
}
#photopost.posts{
    max-height: max-content;
    overflow: hidden;
}
#photopost .post_photo{
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}
.posts:hover{
    background-color: #FFE6C1;
}
.posts .post-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.post-header > span{
    padding: 5px;
    font-size: 15px;
}
.post-header .post-edited {
    margin-bottom: 8px;
    font-size: 15px;
    color: #888;
    position: absolute;
    right: 7%;
}
.post-header .post-date{
    color: hsl(0, 0%, 50%)
}
.posts .post_header {
    margin-bottom: 8px;
    font-size: 25px;
    font-weight: bold;
}
.posts .post_text {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 1.4;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 160px;
}
.posts .post-actions img{
    width: 24px;
    height: 24px;
    margin-right: 24px;
    margin-top: 10px;
}
.posts .post-actions button{
    border: none;
    padding: 0;
    background: none;
}
.post-actions{
    display: flex;
    justify-content: space-between;
}
.post-actions .other-actions{
    align-self: flex-end;
}
.post-avatar img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.modal-inner #sign-up, #log-in{
    width: 100%;;
}
#middle a:hover{
    color: inherit;
}