/*EDIT/MAKE POST SECTION*/
/* Make the entire box peachy and rounded */
#makePostSection {
    background-color: #FFE2B4; /* or #FFE0B2, #FFECB3, etc. */
    border-radius: 16px;
    padding: 35px;
    margin-top: 40px;
    width: 95%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
/*post button at the bottom*/
#postBtn {
    position: absolute; /* Use absolute to freely position it */
    bottom: 20px; /* Set distance from the bottom */
    right: 20px; /* Set distance from the right edge */
    background-color: #FE6F20;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 8px 20px;
    font-size: 16px;
    cursor: pointer;
}
  
/*POST FORMAT*/
.post_box, .comment_box {
    border-bottom: 1px solid #ffcb82;
    padding: 15px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: "Inter";
    position: relative;
}
/* Child elements inside any .post_box */
.post_username_section{
    display:flex;
    margin-bottom: 8px;
    align-items: center;
    gap: 10px;
}
.post_profile_pic{
    position:relative;
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
}
.post_username {
    font-size: 14px;
    color: #555;
}
.post_box .post_header {
    margin-bottom: 8px;
    font-size: 25px;
    font-weight: bold;
}
.post_edit_indicator {
    margin-bottom: 8px;
    font-size: 14px;
    color: #888;
    position: absolute;
    top: 15px;
    right: 20px;
}
.post_box .post_text {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 1.4;
}
.post_text img{
    max-width: 100%;
    border-radius: 10px;
}
.post_box .post_interactions img {
    width: 24px;
    height: 24px;
    margin-right: 24px;
    margin-top: 10px;
}

/*COMMENT FORMATTING
    - the formatting for posts and comments are the 
      same for username and edited satus
*/
.comment_box .post_text {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 1.2;
}
.comment_box .post_interactions img {
    width: 20px;
    height: 20px;
    margin-right: 20px;
    margin-top: 8px;
}


